@model MoooLien.Models.ViewModel.EnroleViewModel

@{
    ViewBag.Title = "Enrole";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Enrole</h2>

@Html.AntiForgeryToken()
<div>
    <h4>Teachers</h4>
    <table class="table table-hover">
    
    @foreach (var user in Model.teachers)
    {
        <tr>
            <td>@user.UserName</td>
            <td><a href="@Url.Action("moveToStudent", "Administrators", new { userID = user.Id, courseID = ViewBag.courseID})">Change Role</a></td>
            <td><a href="@Url.Action("removeFromCourse", "Administrators", new { userID = user.Id, courseID = ViewBag.courseID})">Remove Role</a></td>
        </tr>
    }
    </table>
</div>
<div>
    <h4>Students</h4>
    <table class="table table-hover">

        @foreach (var user in Model.students)
        {
            <tr>
                <td>@user.UserName</td>
                <td><a href="@Url.Action("moveToTeacher", "Administrators", new { userID = user.Id, courseID = ViewBag.courseID})">Change Role</a></td>
                <td><a href="@Url.Action("removeFromCourse", "Administrators", new { userID = user.Id, courseID = ViewBag.courseID})">Remove Role</a></td>
            </tr>
        }
    </table>
</div>
<div>
    <h4>Not Enroled</h4>
    <table class="table table-hover">

        @foreach (var user in Model.notEnroled)
        {
            <tr>
                <td>@user.UserName</td>
                <td><a href="@Url.Action("moveToTeacher", "Administrators", new { userID = user.Id, courseID = ViewBag.courseID})">Add Teacher</a></td>
                <td><a href="@Url.Action("moveToStudent", "Administrators", new { userID = user.Id, courseID = ViewBag.courseID})">Add Student</a></td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink("Back to Manage Courses", "ManageCourses", "Administrators")
    </div>
</div>
