@model MoooLien.Models.ViewModel.AssignmentViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Assignments</h2>
@*<p>
        <a href="~/Assignments/Create" class="btn btn-success">Create Assignment</a>
    </p>*@
<table class="table table-hover">
    <tr>
        <th>
            Name
        </th>
        <th>
            Course
        </th>
        <th>
            Description
        </th>
        <th>
            StartDate
        </th>
        <th>
            EndDate
        </th>
        <th></th>
    </tr>

    @foreach (var assignment in Model.assignments)
    {
        <tr>
            <td>
                @assignment.name
            </td>
            <td>
                @assignment.courseID
            </td>
            <td>
                @assignment.description
            </td>
            <td>
                @assignment.startDate
            </td>
            <td>
                @assignment.endDate
            </td>
        </tr>
     }
</table>
