@model IEnumerable<MoooLien.Models.Entities.Assignment>

@{
    ViewBag.Title = "Index";
}

<h2>Assignments</h2>

<p>
    <a href="~/Assignments/Create" class="btn btn-success">Create Assignment</a>
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.courseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.handinCounter)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.courseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.handinCounter)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "green" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "red" })
        </td>
    </tr>
}

</table>
