@model MoooLien.Models.ViewModel.CourseViewModel

@{
    ViewBag.Title = "";
}

<h2>Courses</h2>

<p>
    <a href="~/Courses/Create" class="btn btn-success">Create Course</a>
</p>
<table class="table table-hover">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var course in Model.courses) {
    <tr>
        <td>
            @course.name
        </td>
        <td>
            @course.description
        </td>
        <td width="10%">
            @Html.ActionLink("Edit", "Edit", new { id=course.ID }, new { @class = "green" }) |
            @Html.ActionLink("Delete", "Delete", new { id=course.ID }, new { @class = "red" })
        </td>
        <td>
            <a class="delete" href="@Url.Action("Delete", new { ID = course.ID })">
                <i class="fa fa-minus-square" title="Remove @course.name"></i>
            </a>
            <a class="edit" href="@Url.Action("Edit", new { ID = course.ID })">
                <i class="fa fa-pencil-square" title="Edit @course.name"></i>
            </a>
        </td>
    </tr>
}

</table>
