@model MoooLien.Models.Entities.Assignment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hand-in for @Html.DisplayFor(model => model.name) </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

    </dl>
</div>
<h3>Hand-in your solution </h3>
@using (Html.BeginForm("UploadStatus", "Solutions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file" accept=".txt, .cpp" /> <br />

    <input type="submit" value="Upload" />

}

<h4>File  uploaded to: @ViewBag.Path</h4>

<br />
<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm())
        {
            <input type="Submit" class="btn btn-primary" value="Compile Test Code" />}

        @if (ViewBag.Output != null)
        {
            <ul>
                @foreach (var line in ViewBag.Output)
                {
                    <li>@line</li>
                }
            </ul>}
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>

@*
<p>
@Html.ActionLink("Hand-in", "Handin", new { id = ViewBag.AssId }) |
</p>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
*@